.icon-large-exit{
    background:url('../images/exit.png') no-repeat center center;
}
.icon-system{
    background:url('../images/system.png') no-repeat center center;
}
.icon-sysM{
    background:url('../images/sysM.png') no-repeat center center;
}
.icon-sysM{
    background:url('../images/sysM.png') no-repeat center center;
}
.icon-usr{
    background:url('../images/usr.png') no-repeat center center;
}
.icon-group{
    background:url('../images/group.png') no-repeat center center;
}
.icon-menu{
    background:url('../images/menu.png') no-repeat center center;
}
.icon-right{
    background:url('../images/right.png') no-repeat center center;
}
.icon-dtr{
    background:url('../images/dtr.png') no-repeat center center;
}
.icon-common{
    background:url('../images/common.png') no-repeat center center;
}
.icon-bdel{
    background:url('../images/bdel.png') no-repeat center center;
}
.icon-export{
    background:url('../images/export.png') no-repeat center center;
}
.icon-theme{
    background:url('../images/theme.png') no-repeat center center;
}
.icon-default{
    background:url('../images/default.png') no-repeat center center;
}
.icon-red{
    background:url('../images/red.png') no-repeat center center;
}
.icon-blue{
    background:url('../images/blue.png') no-repeat center center;
}
.icon-green{
    background:url('../images/green.png') no-repeat center center;
}
.icon-orange{
    background:url('../images/orange.png') no-repeat center center;
}
.icon-first{
    background:url('../images/first.png') no-repeat center center;
}
.icon-portal{
    background:url('../images/portal.png') no-repeat center center;
}
.icon-sign{
    background:url('../images/sign.png') no-repeat center center;
}
.icon-view{
    background:url('../images/view.png') no-repeat center center;
}
.icon-transact{
    background:url('../images/transact.png') no-repeat center center;
}
.icon-assign{
    background:url('../images/assign.png') no-repeat center center;
}
.icon-replace{
    background:url('../images/replace.png') no-repeat center center;
}
.icon-deploy{
     background:url('../images/deploy.png') no-repeat center center;
 }
.icon-track{
    background:url('../images/track.png') no-repeat center center;
}
