<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
        <property name="dialect" value="mysql"/>
    </properties>

    <settings>
        <setting name="lazyLoadingEnabled"    value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>

    <typeAliases>

        <!-- 范例模块 开始 -->
        <typeAlias alias="exampleTypeHandler"
                   type="com.lefthand.example.dao.typehandler.ExampleTypeHandler" />
        <!-- 范例模块 结束 -->

        <!-- 附件模块 开始 -->
        <typeAlias alias="attachmentTypeHandler"
                   type="com.lefthand.attachment.dao.typehandler.AttachmentTypeHandler"/>
        <typeAlias alias="attachmentAssociateTypeHandler"
                   type="com.lefthand.attachment.dao.typehandler.AttachmentAssociateTypeHandler"/>
        <!-- 附件模块 结束 -->

    </typeAliases>

    <typeHandlers>

        <!-- 范例模块 开始 -->
        <typeHandler handler="com.lefthand.example.dao.typehandler.ExampleTypeHandler"
                     javaType="com.lefthand.example.domain.support.ExampleType" />
        <!-- 范例模块 结束 -->

        <!-- 附件模块 开始 -->
        <typeHandler handler="com.lefthand.attachment.dao.typehandler.AttachmentTypeHandler"
                     javaType="com.lefthand.attachment.domain.entity.AttachmentType"/>
        <typeHandler handler="com.lefthand.attachment.dao.typehandler.AttachmentAssociateTypeHandler"
                     javaType="com.lefthand.attachment.domain.entity.AttachmentAssociateType"/>
        <!-- 附件模块 结束 -->

    </typeHandlers>

    <mappers>

        <!-- 模块名称 开始 -->
        <!-- 模块名称 结束 -->

    </mappers>


</configuration>
