<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="Frame/css/icons.css" />
  <link type="text/css" rel="stylesheet" href="Frame/css/base.css" />
  <!-- 框架通用样式表 -->
  <link type="text/css" rel="stylesheet" href="Frame/css/frame.css" />
  <script type="text/javascript" src="Frame/js/frame.js"></script>
  <link rel="stylesheet" type="text/css" href="js/jquery-easyui/themes/icon.css">
  <link rel="stylesheet" type="text/css" href="js/jquery-easyui/themes/color.css">
  <link id="easyuiTheme" rel="stylesheet" type="text/css" href="js/jquery-easyui/themes/default/easyui.css">
  <!--<script type="text/javascript" src="js/jquery-easyui/jquery.easyui.min.js"></script>-->
  <script type="text/javascript" src="js/jquery-easyui/locale/easyui-lang-zh_CN.js"></script>
</head>
</html>