<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lefthand.activiti.dao.mapper.ProcessTaskMapper">
    <resultMap id="ResultMap" type="com.lefthand.activiti.domain.MyTask">
        <result column="ID_"                    property="id"/>
        <result column="EXECUTION_ID_"          property="executionId"/>
        <result column="PROC_INST_ID_"          property="processInstanceId"/>
        <result column="PROC_DEF_ID_"           property="processDefinitionId"/>
        <result column="NAME_"                property="name"/>
        <result column="TASK_DEF_KEY_"      property="taskDefinitionKey"/>
        <result column="ASSIGNEE_"      property="assignee"/>
        <result column="CREATE_TIME_"      property="createTime"/>
        <result column="SUSPENSION_STATE_"      property="suspensionState"/>
        <result column="FORM_KEY_"      property="formKey"/>
    </resultMap>

    <select id="findAllProcessTask" resultMap="ResultMap">
        SELECT * FROM (SELECT A.*, ROWNUM RN
        FROM (SELECT * FROM ACT_RU_TASK T
        WHERE T.PRIORITY_ ='50' and T.assignee_ is not NULL
        <include refid="condition-part" />
        ) A
        WHERE ROWNUM <![CDATA[<=]]> #{page.offset} + #{page.size}
        ORDER BY A.CREATE_TIME_ DESC)
        WHERE RN <![CDATA[>]]> #{page.offset}
    </select>

    <select id="queryProcessTaskTotal" resultType="java.lang.Long">
        SELECT COUNT(*) from ACT_RU_TASK T
        WHERE T.PRIORITY_ ='50'
        <include refid="condition-part" />
    </select>

    <select id="findTaskListByName" resultMap="ResultMap">
        SELECT * FROM (SELECT A.*, ROWNUM RN
        FROM (SELECT * FROM ACT_RU_TASK T
        WHERE T.PRIORITY_ ='50'
        <include refid="condition-part" />
        ) A
        WHERE ROWNUM <![CDATA[<=]]>  #{page.offset} + #{page.size}
        ORDER BY A.CREATE_TIME_ DESC)
        WHERE RN <![CDATA[>]]> #{page.offset}
    </select>

    <select id="queryTaskTotalByName" resultType="java.lang.Long">
        SELECT COUNT(*) from ACT_RU_TASK T
        WHERE T.PRIORITY_ ='50'
        <include refid="condition-part" />
    </select>

    <sql id="condition-part">
        <if test="terms != null">
            <if test="terms.name != null and terms.name != ''">
                and T.NAME_ LIKE '%'||#{terms.name}||'%'
            </if>
            <if test="terms.assignee != null and terms.assignee != ''">
                and T.ASSIGNEE_ LIKE '%'||#{terms.assignee}||'%'
            </if>
            <if test="terms.startDate != null and terms.startDate != ''">
                and T.CREATE_TIME_  &gt; to_date(#{terms.startDate},'yyyymmdd hh24:mi:ss')
            </if>
            <if test="terms.endDate != null and terms.endDate != ''">
                and T.CREATE_TIME_  &lt; to_date(#{terms.endDate},'yyyymmdd hh24:mi:ss')
            </if>
        </if>
    </sql>
</mapper>